<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="mynghn.persistenceaop.mapper.TodoItemHistoryMapper">
  <insert id="recordHistory">
    insert into PUBLIC.todo_item_history(todo_item_id, history_sequence_no, todo_item_title,
                                         todo_item_description, todo_item_due_date,
                                         todo_item_todo_list_id, is_deleted, created_at, created_by,
                                         last_modified_at, last_modified_by)
    values (#{id},
            (select coalesce(max(tih.history_sequence_no) + 1, 0)
             from PUBLIC.todo_item_history tih
             where tih.todo_item_id = #{id}),
            #{title},
            #{description},
            #{dueDate},
            #{todoListId},
            #{isDeleted},
            #{createdAt}, #{createdBy},
            #{lastModifiedAt}, #{lastModifiedBy})
  </insert>
</mapper>
