<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="mynghn.persistenceaop.mapper.HistoriesMapper">
  <select id="countAllTodoListHistories" resultType="_int">
    select count(*) as row_cnt
    from PUBLIC.todo_list_history
  </select>
  <select id="countAllTodoItemHistories" resultType="_int">
    select count(*) as row_cnt
    from PUBLIC.todo_item_history
  </select>
  <select id="getTodoListHistory" resultType="mynghn.persistenceaop.entity.TodoListHistory">
    select *
    from PUBLIC.todo_list_history
    where todo_list_id = #{todoListId}
      and history_sequence_no = #{historySequenceNo}
  </select>
  <select id="getTodoItemHistory" resultType="mynghn.persistenceaop.entity.TodoItemHistory">
    select *
    from PUBLIC.todo_item_history
    where todo_item_id = #{todoItemId}
      and history_sequence_no = #{historySequenceNo}
  </select>
</mapper>
