<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="mynghn.persistenceaop.mapper.TodoListMapper">
  <select id="insert" parameterType="mynghn.persistenceaop.entity.TodoList" resultType="string">
    INSERT INTO PUBLIC.todo_list
    (id,
     title,
     is_deleted,
     created_at,
     created_by,
     last_modified_at,
     last_modified_by)
    SELECT to_char(current_date, 'YYMMDD') || '-' ||
           lpad((coalesce(max(substring(tl.id, 8, 10)::int), 0) + 1)::text, 3, '0'),
           #{title},
           #{isDeleted},
           #{createdAt},
           #{createdBy},
           #{lastModifiedAt},
           #{lastModifiedBy}
    FROM PUBLIC.todo_list as tl
    WHERE substring(tl.id, 1, 6) = to_char(current_date, 'YYMMDD')
    RETURNING id
  </select>
  <select id="select" resultType="mynghn.persistenceaop.entity.TodoList">
    SELECT *
    FROM public.todo_list
    where id = #{id}
  </select>
  <select id="update" resultType="string">
    UPDATE PUBLIC.todo_list
    SET
    <if test="payload.title != null">title = #{payload.title},</if>
    <if test="payload.isDeleted != null">is_deleted = #{payload.isDeleted},</if>
    last_modified_at = #{payload.lastModifiedAt},
    last_modified_by = #{payload.lastModifiedBy}
    WHERE id = #{id}
    RETURNING id
  </select>
  <select id="updateAll" resultType="string">
    UPDATE PUBLIC.todo_list
    SET
    <if test="payload.title != null">title = #{payload.title},</if>
    <if test="payload.isDeleted != null">is_deleted = #{payload.isDeleted},</if>
    last_modified_at = #{payload.lastModifiedAt},
    last_modified_by = #{payload.lastModifiedBy}
    <where>
      <if test="specification.id != null">id = #{specification.id}</if>
      <if test="specification.titleLike != null">AND title like #{specification.titleLike}</if>
    </where>
    RETURNING id
  </select>
  <insert id="recordHistory">
    insert into PUBLIC.todo_list_history
    (todo_list_id,
     history_sequence_no,
     todo_list_title,
     is_deleted,
     created_at,
     created_by,
     last_modified_at,
     last_modified_by)
    select tl.id,
           (select coalesce(max(tlh.history_sequence_no) + 1, 0)
            from PUBLIC.todo_list_history tlh
            where tlh.todo_list_id = #{entityId}),
           tl.title,
           tl.is_deleted,
           tl.created_at,
           tl.created_by,
           tl.last_modified_at,
           tl.last_modified_by
    from PUBLIC.todo_list as tl
    where tl.id = #{entityId}
  </insert>
  <insert id="recordHistories" parameterType="java.util.List">
    insert into PUBLIC.todo_list_history
    (todo_list_id,
    history_sequence_no,
    todo_list_title,
    is_deleted,
    created_at,
    created_by,
    last_modified_at,
    last_modified_by)
    select tl.id,
    (select coalesce(max(tlh.history_sequence_no) + 1, 0)
    from PUBLIC.todo_list_history tlh
    where tlh.todo_list_id = tl.id),
    tl.title,
    tl.is_deleted,
    tl.created_at,
    tl.created_by,
    tl.last_modified_at,
    tl.last_modified_by
    from PUBLIC.todo_list as tl
    <where>
      <choose>
        <when test="entityIds.size != 0">
          tl.id in
          <foreach close=")" collection="entityIds" item="entityId" open="(" separator=",">
            #{entityId}
          </foreach>
        </when>
      </choose>
    </where>
  </insert>
</mapper>
