<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="mynghn.persistenceaop.mapper.TodoItemMapper">
  <select id="insert" parameterType="mynghn.persistenceaop.entity.TodoItem" resultType="string">
    INSERT INTO PUBLIC.todo_item (id, title, description, due_date, todo_list_id)
    SELECT to_char(current_date, 'YYMMDD') || '-' ||
           lpad((coalesce(max(substring(ti.id, 8, 10)::int), 0) + 1)::text, 3, '0'),
           #{title},
           #{description},
           #{dueDate},
           #{todoListId}
    FROM PUBLIC.todo_item as ti
    WHERE substring(ti.id, 1, 6) = to_char(current_date, 'YYMMDD')
    RETURNING id
  </select>
</mapper>
